header {
    background-color: #201d1d;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.nav li a:hover,
.nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-nav>.active>a {
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    padding: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}