<div>
    <div class="header">
        <app-header></app-header>
        <p>Hi, {{ name }}!</p>
    </div>

    <div class="centered-content">
        <div class="task-manager-container">
            <div class="task-list-container">
                <h1 class="title has-text-primary white-text">Tasks</h1>
                <div class="task">
                    <p class="white-text">
                        Task
                        <span class="pull-right task-delete btn-rounded corners">X</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>